.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 0 12px;
}

.login{
    background-color: #f7f7f7;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-area{
    background-color: #181c2e;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-area img{
    width: 900px;
    height: 350px;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 1.5rem;
}

form h1{
    text-align: center;
    color: #181c2e;
}

.login input{
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color: #e7e5e5;
}

form button{
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #369f2f;
    color: #fff;
    font-size: 1.3rem;
}

.login a{
    margin: 1.5rem 0;
    color: #000;
    cursor: pointer;
}
